<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jingxi.smartlife.pad.sdk.demo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- 用于发送组播组播 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.MainActivity">
        </activity>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccessLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccessMainActivity">
        </activity>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccessVideoActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccessPlayBackListActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccessPlayBackActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccessSecurityActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccessExtActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.neighbor.NeighborHoodActivity">
        </activity>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.push.PushMainActivity">
        </activity>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.configure.ConfigureActivity">
        </activity>


        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccess2LauncherActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccess2MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccess2VideoActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccess2PlayBackListActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccess2PlayBackActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccess2SecurityActivity"/>
        <activity android:name="com.jingxi.smartlife.pad.sdk.demo.dooraccess.DoorAccess2ExtActivity"/>
    </application>

</manifest>